@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    height: 300vh;
    font-family:  'Ubuntu', sans-serif;
}

header {
    background: url('/assets/img/bg_header.jpg') center/cover fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color:rgb(208, 211, 17);
}

header h1 {
    font-size: 60px;
    line-height: 150%;
    position: absolute;
    text-align: center;
}

header a {
    position: absolute;
    bottom: 20%;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 4px;
    color:rgb(255, 255, 255);
    padding: 15px;
    width: 150px;
    text-align: center;
    transition-duration: .5s;
}

header a:hover {
    background-color: #A68660;

}

header::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.356);
    display: block;
    width: 100%;
    height: 100%;
}